.avatar-list {
  .avatar {
    position: relative;
    margin-bottom: 80px;
    a {
      width: 100%;
    }
    .media {
      overflow: hidden;
      position: relative;
      width: 290px;
      max-width: 100%;
      height: 290px;
      overflow: hidden;
      position: relative;
      video,
      img {
        max-height: 290px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      text-shadow: 0 2px 96px rgba(2, 2, 2, 0.77);
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 45px;
      font-weight: 300;
      line-height: 51px;
      margin-bottom: -30px;
      font-style: italic;
      small {
        font-family: "Montserrat";
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 3px;
        display: block;
      }
    }
  }
  .row div.avatar:last-child {
    img {
	    width: 290px;
    }
  }
}
