.menu-category {
  text-align: center;
  padding-bottom: 88px;
  button {
    margin-right: 15px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    padding: 0 10px;
    text-transform: lowercase;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      border-radius: 21px;
      transition: all 500ms ease-in-out;
      position: absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      text-shadow: 0 2px 96px rgba(2, 2, 2, 0.77);
      box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(257deg, #622c88 0%, $magenta 100%);
      opacity: 0;
      z-index: -1;
    }
    &:hover {
      transition: all 500ms ease-in;
      &:before {
        opacity: 1;
      }
    }
  }
}
