.hero {
  &.studio-careers {
    height: 722px;
    background-image: url('images/hero-careers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    margin-bottom: -55px;
  }
  @media screen and (max-width: 910px) {
    &.studio-careers {
      height: 100%;
      max-height: 320px;
      min-height: 320px;
    }
  }
}

.careers-container {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background-color: $purple;
  margin-bottom: 20px;
  padding: 65px 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  .controll-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    img {
      width: 25px;
    }
  }
  .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &.full {
    height: auto;
    &:after {
      display: none;
    }
    .content {
      padding-top: 25px;
      color: #ffffff;
      text-align: left;
      p {
        font-family: "Montserrat";
        font-size: 25px;
        font-weight: 300;
        line-height: 49px;
        margin-bottom: 80px;
      }
      h3 {
        font-weight: 700;
        font-size: 25px;
        font-family: "Montserrat";
      }
    }
  }
  &:after {
    content: '';
    width: 17px;
    height: 15px;
    background-image: url('images/icon-link-arrow-right.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 33px;
    right: 48px;
  }
  h1 {
    text-shadow: 0 2px 96px rgba(2, 2, 2, 0.77);
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 45px;
    font-weight: 300;
    line-height: 51px;
    letter-spacing: 3px;
  }
  span {
    width: 241px;
    height: 25px;
    color: #9c4ecb;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
  }
  @media screen and (max-width: 910px) {
    text-align: left;
    align-items: flex-start;
    padding: 15px 45px;
    h1 {
      font-size: 15px;
      line-height: 1;
      margin-bottom: 5px;
    }
    span {
      font-size: 12px;
      line-height: 12px;
      display: inline;
    }
    &.full {
      .content {
        h3 {
          font-size: 13px;
          line-height: 21px;
        }
        p {
          font-size: 13px;
          line-height: 21px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
